{% extends "layout.html"%}

{% block title %}
Book's Reviews-Home
{% endblock %}

{%block body%}

 <nav >
     <ul>
          <li>  <div class="navbar-brand" style="padding: 0px;margin:0px;">
            <form  action ="{{url_for('login')}}" method="POST">  
            <a href="{{url_for('login')}}"  >
                    <img src="https://images.vexels.com/media/users/3/131605/isolated/preview/f692017c847b87e693ab3c9ed7ca84d6-opened-book-icon-by-vexels.png" 
                         width="30">
                    Book's Reviews
                </a>
            </form>
            </div>
            </li>     
            <li>
                <a href="" >Add Review</a>
            </li>
            <li style="padding:0px;">
                <a href="{{url_for('SearchReview')}}" >Search Review</a>
            </li>
            
            
            <li style="float:right;">
                <div class="form-row">
                    <div class="Welcome" >
                        Welcome,{{Name}}
                    </div>
                    <form class="form-inline" action="{{url_for('index')}}" method="POST" >
                                <button class="btn btn-light">Log out</button>
                    </form>
                            
                </div>
                
                    
            </li>
            
            
     </ul>
    
</nav>
<div class="container" style="margin:50px;">
    <div class="display-4">
        Book's Review
    </div>
    <div style="margin:10px;">
        <h3>Book's Information</h3>
        <ul class=list-group>
            <li class="list-group-item list-group-item-light" style="padding:18px;">Book's Title:{{book.title}}</li>
            <li class="list-group-item list-group-item-light">Book's Author:{{book.author}}</li>
            <li class="list-group-item list-group-item-light">Book's Year:{{book.year}}</li>
            <li class="list-group-item list-group-item-light" style="padding:18px;">Book's ISBN:{{book.isbn}}</li>

        </ul>
    </div>
    <div style="margin:10px;" >
        <h3>
            GoodReads Review
        </h3>
        <div >
            <ul class="list-group">
                <li class="list-group-item list-group-item-light" style="padding:15px;">Average_Rate:{{average_rating}}</li>
                <li class="list-group-item list-group-item-light">Work_Rating:{{work_ratings_count}}</li>
            </ul>
        </div>
    </div>
    <div style="margin:10px;" >
            <h3>
                Users' Review
            </h3>
            <div >
                <ul class="list-group">
                    {%for review in reviews%}
                    <li class="list-group-item list-group-item-light">user: {{review.user_id}} rated {{review.rating}} and wrote "{{review.review}}"</li>
                    {%endfor%}
                </ul>
            </div>
        </div>
    <div style="margin:10px;">
        <h3>
            Submit a Review
        </h3>
        <div>
           <form class="form-group" action="{{url_for('AddReview',book_id=book.id)}}" method="POST">
               <div class="form-check">
                   <div class="row">Rating</div>
                   <label class="form-check-label" for="1">1</label>
                  <input type="radio" class="form-check-input" name="rating" value="1" id="1">
                   <label class="form-check-label" for="2">2</label>
                   <input type="radio" class="form-check-input" name="rating" value="2" id="2">
                   <label class="form-check-label" for="3">3</label>
                   <input type="radio" class="form-check-input" name="rating" value="3" id="3">
                   <label class="form-check-label" for="4">4</label>
                   <input type="radio" class="form-check-input" name="rating" value="4" id="4">
                   <label class="form-check-label" for="5">5</label>
                   <input type="radio" class="form-check-input" name="rating" value="5" id="5">

               </div>
               <label for="Review">Review</label>
               <textarea class="form-control" id="Review" name ="review" rows="3"></textarea>
               <div style="text-align:center;margin:35px;">
               <button class="btn btn-primary"> Submit</button>
            </div>
           </form>
        </div>
    </div>
    
</div>

    
    



{% endblock %}